
.dropdown-menu:before {
	content: '';
	width: .75em;
	height: .75em;
	background: inherit;
	position: absolute;
	top: -.375em;
	right: calc(100% / 2 - .375em);
	transform: rotate(45deg);
	border-top: 1px solid rgba(74,73,74,0.3);
	border-left: 1px solid rgba(74,73,74,0.3);
}

.dropdown-menu{
    left: 50%;
  	right: auto;
  	text-align: center;
  	transform: translate(-50%, 0);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(74,73,74,0.3);
	-moz-box-shadow: 0px 0px 10px 0px rgba(74,73,74,0.3);
	box-shadow: 0px 0px 10px 0px rgba(74,73,74,0.3);
}

.dropdown-menu > li > a:hover{
	color: #eb3812;
}

.open > #dropdown-btn {
    color: #fff;
    background-color: transparent !important;
}

.open > #dropdown-btn:focus {
	color: #222222;
}

.carousel,
.item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

/* Background images are set within the HTML using inline CSS, not here */

.fill {
    width: 100%;
    height: 100%;
    /*background-position: center;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.service-box {
	max-width: 600px;
}

.form-group textarea.form-control {
    height: 133px;
}

.text-danger {
    color: #a94442;
}



@media (min-width: 768px) {
    
    .open > #dropdown-btn {
        color: #C62828;
    }

    .inner{
        width: 500px;
        margin: 0 auto;
    }

    #sindico{
        bottom: 10%; 
        top:initial;
    }
    
    .form-inline > .form-control{
        width: 20%;
    }
}